h1
{
  color: SlateBlue;
  text-align: center;
  font-size:36px;
}
p 
{
  color: Orange;
  text-align: center;
  font-size:18px;
  margin: 50px 75px 100px 125px;
}
body 
{
  background-color: LightGray;
}